/* reset */
ul, li {
    list-style: none;
}

.clear-user-agent-styles table,
.clear-user-agent-styles thead,
.clear-user-agent-styles tbody,
.clear-user-agent-styles tfoot,
.clear-user-agent-styles tr,
.clear-user-agent-styles th,
.clear-user-agent-styles td {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

/* site */
body {
    font-family: "apercu",sans-serif;
}

.page {
	margin: 30px;
	overflow: hidden;
}

hr {
	height: 1px;
    background: #eee;
    border: none;
}

input[type="submit"] {
    min-width: 200px;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 1.25rem;
    color: rgb(17, 40, 108);
    border-color: rgb(17, 40, 108);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #fff;
    background-color: rgb(17, 40, 108);
    border-color: rgb(17, 40, 108);
}

input[type="text"], input[type="number"] {
	display: inline-block;
    min-width: 200px;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: .5em;
}

.auto-width {
    width: auto !important;
    min-width: auto !important;
}

/* home page */
#home-page {
    text-align: center;
}

#home-page .form input[type="submit"] {  
    margin-top: 25px;
    width: 282px;
}

.create {
	width: 415px;
	overflow: hidden;
	margin: 1em auto;
}

.create form {
	float: left;
	margin-right: 15px;
}

.create form:last-child {
    margin-right: 0;
}

/* catalog page */
#filters input[type="submit"] {
    min-width: auto;
}

#catalog .btns {
    float: right;
}

#catalog .btns li {
    width: 50px;
    height: 50px;
    display: inline-block;
    color: rgb(17, 40, 108);
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
}

/* fix three btns layout */

#table1 {
    text-align: left;
    margin-top: 30px;
    border-collapse:collapse;
}

#table1 tr:first-child {
    background: rgba(0, 204, 255, 1);
    color: #fff;
}

#table1 tr:first-child th:hover {
    color: #006090;
}

#table1 form {
    margin: 0;
}

#table1 .cart-add {
    margin-top: -7px;
    padding-right: 20px;
}

#table1 td, #table1 th {
    padding: .75rem;
    border-top: 1px solid #dee2e6;
}

/* edit book */
#edit-book input[type="submit"] {  
    margin-top: 15px;
}




















