/* reset */
ul, li {
    list-style: none;
}

.clear-user-agent-styles table,
.clear-user-agent-styles thead,
.clear-user-agent-styles tbody,
.clear-user-agent-styles tfoot,
.clear-user-agent-styles tr,
.clear-user-agent-styles th,
.clear-user-agent-styles td {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

/* site */
body {
    font-family: "apercu", sans-serif;
    background: linear-gradient(to bottom right, #fff 0%, rgba(0, 204, 255, .1) 100%);
    color: rgb(17, 40, 108);
}

.page {
	margin: 30px;
	overflow: hidden;
}

hr {
	height: 1px;
    background: #eee;
    border: none;
}

select {
    width: 200px;
    height: 40px;
    font-size: 16px;
}

input[type="submit"] {
    min-width: 200px;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 1.25rem;
    color: rgb(17, 40, 108);
    border-color: rgb(17, 40, 108);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #fff;
    background-color: rgb(17, 40, 108);
    border-color: rgb(17, 40, 108);
}

input[type="text"], input[type="number"] {
	display: inline-block;
    min-width: 200px;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: .5em;
}

.auto-width {
    width: auto !important;
    min-width: auto !important;
}

/* home page */
#home-page {
    text-align: center;
}

#home-page .form {
    position: relative;
}

#home-page .form input[type="submit"] {  
    margin-top: 25px;
    width: 282px;
}

.create {
	width: 485px;
	overflow: hidden;
	margin: 1em auto;
}

.create form {
	float: left;
	margin-right: 15px;
}

.create form:last-child {
    margin-right: 0;
}

.create input[type="submit"] {
    min-width: auto;
}

#home-page hr {
    margin: 50px 0;
}

/* catalog page */
#filters input[type="submit"] {
    min-width: auto;
    margin-right: 10px;
}

.hyper-btns {
    float: right;
}

.hyper-btns li {
    width: 50px;
    height: 50px;
    display: inline-block;
    color: rgb(17, 40, 108);
    text-align: center;
}

.hyper-btns li a {
    text-decoration: none;
    color: inherit;
}

.icon-info {
    font-size: 12px;

}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
}

/* fix three btns layout */

#table1 {
    text-align: left;
    margin-top: 30px;
    border-collapse:collapse;
}

#table1 tr:first-child {
    background: rgba(0, 204, 255, 1);
    color: #fff;
}

#table1 tr:first-child th:hover {
    color: #006090;
}

#table1 form {
    margin: 0;
}

#table1 .cart-add {
    margin-top: -7px;
    padding-right: 20px;
}

#table1 td, #table1 th {
    padding: .75rem;
    border-top: 1px solid #dee2e6;
}

/* edit customer */

.edit-form input {
    margin: 0 0 10px 10px;
    display: inline-block;
}

.edit-form input[type="submit"] {
    margin-top: 25px;
}

/* create emplyee */
#create-employee input[type="submit"] {
    display: block;
}

/* home page decor */
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 204, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(0, 204, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  background-color: rgba(0, 204, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(0, 204, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}










